<!doctype html>
<html>
<head>
    <title>Wedding Playlist</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/playlist.css">
</head>
<body>
    <section id="box">
        <section id="title">
        <h1 class="homepage">LoveJam</h1>
            <span>
                <p class="info">An organization tool that takes the stress out of planning your big day ✨</p><br>
                <p>Keep track of week to week changes 📅</p>
                <p>Curate a playlist to get guests moving 🎵</p>
                <p>Record important names for a smooth reception 🎙</p>
                <p>Create a moodboard + manifest your vision 🖼</p>
                <p>Ready to start planning? ☻</p><br>
            </span>
        <section id="logInOrSignUp">        
            <a href="/login" class="btn btn-default" class=><span class="fa fa-user mainPageBtn"></span>Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user mainPageBtn"></span>Signup</a>
        </section>
    </section>
    </section>


</body>
</html>
