<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Wedding Planner App</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="/public/playlist.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;800&display=swap" rel="stylesheet">
</head>

<body>
  <div class=recordBody>
      <header>
        <section class="navi">
          <nav>
            <a href="/profile" class="btn btn-default btn-sm">Profile</a>
            <a href="/playlists" class="btn btn-default btn-sm">Playlist</a>
            <a href="/inspo" class="btn btn-default btn-sm">Songs</a>
            <a href="/" class="btn btn-default btn-sm">Logout</a><br><br>
          </nav>
        </section>
      </header>

      <section class="header">

      </section>

      <section class="info">
        <h1 class="h1">Record Audio</h1><br>
        <p>Any not-so-easy names to pronounce in your bridal parties? Record them here!</p><br><br>
      </section>


      <!-- AUDIO RECORDER --------------- -->

      <div class="audioRecorder">
        <% if (user.local.email) { %>
          <section class="main-controls">
            <div class="recordingBtns">
              <i class="fa fa-microphone record" aria-hidden="true"></i>
              <i class="fa fa-stop-circle stop" aria-hidden="true"></i>
            </div>
            <canvas class="visualizer" height="40px"></canvas>
          </section>
          <section class="sound-clips">
          </section>
      </div>
      <% } %>


        <!-- SUBMIT NAME/AUDIO RECORDING --------------- -->

        <form action="/postLibrary" enctype="multipart/form-data" method="POST">
          <input type="text" placeholder="Name" name="name"><br>
          <input type="text" placeholder="Phonetic Spelling" name="spelling"><br>
          <input type="text" placeholder="Wedding Role" name="role">
          <input type="file" name="file-to-upload"><br>
          <button type="submit">Submit</button><br><br><br><br>
        </form>

    <!-- AUDIO LIBRARY --------------- -->
      <!-- MUSIC PLAYER --------------- -->
      <section class="musicPlayer">
        <h1> </h1>

      </section>


    <!--  LIBRARY --------------- -->
    <h1>Library</h1>
        <div class="audioLibrary">
            <ul class="recordings">
              <% for(let i=0; i<recordings.length; i++) { %>
                <li class="recording">
                  <span><%= recordings[i].name %></span>
                  <span>(<%= recordings[i].spelling %>)</span><br>
                  <span><%= recordings[i].role %></span><br><br>
                  <audio src="<%= recordings[i].audio %>" controls></audio>
                  <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                  <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                </li>
                <% } %>
            </ul>
          </section>
        </div>
    </div>

    <script src="/public/record.js"></script>
</body>

</html>