body {
    /* background-image: linear-gradient(
      0deg,
      rgba(247, 247, 247, 1) 23.8%,
      rgba(252, 221, 221, 1) 92%
    ); */
    /* background: -webkit-linear-gradient(rgb(252, 221, 221, 1),rgb(247, 247, 247, 1)); */
    /* background-attachment: fixed; */
    font-size: 14px;
    line-height: 1.428;
    background:rgb(238, 255, 220);
    color: black;
    font-family: 'Lato', sans-serif;
    margin: 0;
  }
  /* links */
  
  a{
   text-decoration: none; 
   color: blueviolet
  }
  
  /*************** HEADER *******/
  
  /* lovejam logo */
  
  .logoImg{
    width: 45%;
  }
  header, .header {
    font-weight: bolder;
    color: white;
    height:140px;
    background-image: url('../public/images/lovejam2.png');
    background-size:120px;
    background-repeat:no-repeat;
    background-position: fixed;
    background-position: center center;
    background-color: rgb(238, 255, 220);
  }
  .nav1{
    text-align: left;
    float: left;
    margin-top: 40px;
  }
  .nav2{
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
  
  }
  
  /* base navigation */
  
  .navi{
    margin-left: 50px;
  }
  
  /* "hi again" - homepage */
  .welcome{
    font-family: Noto Sans Mono, Helvetica, sans-serif;
    font-size: 45px;
    color: black;
    background-color: rgba(241,117,159);
    width: 250px;
    font-weight: 500;
    line-height: 1.1;
  }
  #welcome{
    text-align: left;
    margin-top: 100px;
    margin-left:100px;
    float: left;
    width: 380px
  }
  /* countdown */
  .dateSection{
    margin: 15px auto;
    text-align: center;
  }
  #demo{
    font-family: Lato, Helvetica, Arial;
  }
  #myCountdown{
    font-family: Lato, Helvetica, sans-serif;
    font-size: 37px;
    font-weight:300;
    color: black;
    width: 320px;
    line-height: 1.1;
  }
  
  /* info headers for each page */
  
  .info{
    text-align: center;
    margin:1px auto;
  }
  h1{
    font-weight: 500;
    line-height: 1.1;
  }
  .h1 {
    font-family: Noto Sans Mono, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    background-color: rgba(241,117,159);
    width: 200px;
    margin:5px auto;
    font-weight: 500;
    line-height: 1.1;
  }
  
  /* base buttons */
  
  .btn-sm{
    padding: 5px 10px;
    line-height: 1.5;
  }
  .btn {
    display: inline-block;
  }
  .btn-default {
    color:black;
    width: 100px;
    font-weight: 400;
    font-family: Noto Sans Mono, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 4px;
    margin-right: 4px;
    /* box-shadow: 4px 4px black;
    border: 1px solid rgb(100, 18, 120); */
  }
  .playlist-btn{
    color:black;
    width: 180px;
    font-weight: 400;
    font-family: Noto Sans Mono, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px;
    margin-top: 2.5%;
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: 4px 4px black;
    border: 1px solid rgb(100, 18, 120);
      /* "to left" / "to right" - affects initial color */
      background: linear-gradient(to left, white 50%, rgb(61,102,163) 50%) right;
      background-size: 200%;
      transition: .5s ease-out;
  }
  .playlist-btn:hover{
    background-position: left;
    color:white;
  
  }
  
  /****** index.ejs - homepage ******/
  nav{
    margin-bottom: 10px;
  }
  #box {
    width: 450px;
    height: 400px;
    box-shadow: 15px 15px white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(160,196,207);
    margin: 15px auto;
    margin-top: 200px;
    text-align: center;
  }
  /* h1 title */
  .homepage {
    font-family: Noto Sans Mono, Helvetica, sans-serif;
  }
  /* login and sign up buttons */
  
  
  
  
  /****** profile.ejs  ******/
  
  
  
  /*** template for boxes ***/
  .left {
    font-family: Lato, Helvetica, sans-serif;
    font-size:17px;
    font-weight: 400;
    height: 500px;
    width: 800px;
    box-shadow: 20px 20px rgba(241,117,159);
    overflow: scroll;
    padding: 25px;
    border-radius: 30px;
    background-color: black;
    color:rgba(241,117,159);
    margin: 15px auto;
    margin-top: 50px;
    display: absolute;
  }
  
  .trackInfo{
    margin-left: 150px;
    position:relative;
    bottom:90px;
  }
  .albumCover{
    width: 15%;
  }
  #player{
    margin-top:5px;
  }
  
  /* songs submission form */
  #msgs{
    width: 346px;
    font-family: Noto Sans Mono, Helvetica, sans-serif;
    font-size: 14px;
    color:  rgb(4, 3, 3);
    border: 1px solid rgb(232, 232, 232);
    background: rgb(205, 205, 205);
    border-radius: 100px;
    margin:15px auto;
    margin-bottom: 0;
  }
  #songsSubmissions{
    list-style: none;
    padding-top: 2%;
    margin: 2px auto;
  }
  #songForm{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
  }
  
  
  /* lists for media */
  .songList {
    list-style: none;
    padding-top: 2%;
    margin: 2px auto;
  }
  
  /* new/saved images */
  
  /* MUSIC PLAYER HOMEPAGE */
  footer{
    /* background: rgb(217, 150, 161); */
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  }
  
  
  .music-container {
    background-color: rgb(61,102,163);
    opacity: .9;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
    display: flex;
    padding: 8px 18px;
    position: relative;
    z-index: 10;
  }
  
  .img-container {
    position: relative;
    width: 110px;
  }
  
  .img-container::after {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, 50%);
  }
  
  .img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
  
    animation-play-state: paused;
  }
  
  .music-container.play .img-container img {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .action-btn {
    background-color: rgb(61,102,163);
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
  }
  
  .action-btn.action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
  }
  
  .action-btn:focus {
    outline: 0;
  }
  
  .music-info {
    background-color: rgb(61,102,163);
    color:white;
    font-family: Lato, Helvetica, Arial;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top:20px;
    right: 50px;
    text-align: right;
    /* padding: 10px 10px 10px 150px; */
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
  }
  
  .music-container.play .music-info {
    opacity: 1;
    transform: translateY(12%);
  }
  
  .music-info h4 {
    margin: 0;
  }
  
  .progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }
  
  .progress {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }
  
  
  /*** playlist ***/
  .purple{
    color: #fe8daa;
  }
  
  audio::-webkit-media-controls-timeline,
  video::-webkit-media-controls-timeline {
      display: none;
  }
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display {
      display: none;
  }
  audio::-webkit-media-controls-panel {
    -webkit-justify-content: right;
    height: 25px;
  }
  /* Removes the time stamp */
  audio::-webkit-media-controls-current-time-display {
    display: none;
  }
  audio::-webkit-media-controls-mute-button {
    display: none;
  }
  audio::-webkit-media-controls-volume-slider, video::-webkit-media-controls-volume-slider {
    display: none;
  }
  audio::-webkit-media-controls-volume-slider-mute-button, video::-webkit-media-controls-volume-slider-mute-button {
    -webkit-appearance: media-volume-slider-mute-button;
    display: none;
  }
  audio::-webkit-media-controls-enclosure {
      border-radius: 5px;
      background-color: rgba(252, 104, 222, 0.3);
  }
  audio{
    width: 100px;
    height: 25px;
  }
  .right {
    width: 540px;
    height: 450px;
    text-align: center;
    overflow: scroll;
    border-radius: 20px;
    background-color: rgb(248,224,69,.8);
    border: 1px solid black;
    color: black;
    margin: 15px auto;
    margin-top: 50px;
    position:relative;
  }
  .savedMusic{
    padding:25px;
  }
  .favorited, .deleteSaved, .save{
    /* margin-left: 25px; */
    position:absolute;
    right:0;
    margin-right: 25px;
  }
  .favorited, .save{
    margin-right: 55px;
  }
  /* secondary titles */
  .h2 {
    display: flex;
    justify-content: center;
    padding-left: 105px;
    font-family: Noto Sans Mono, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 0;
  }
  /* saved content in ordered lists */
  ol {
    text-decoration: none;
    padding-top: 22px;
  }
  
  /* saved images */
  ol img {
    width: 50%;
  }
  .reactions{
    /* margin-left:400px; */
    justify-items:right;
  }
  .fa-trash:hover {
    color: rgb(108, 194, 255);
  }
  
  .fa-trash {
    font-size: 15px;
    text-align: right;
  }
  
  button:hover {
    background-color: rgb(108, 194, 255);
  }
  
  /*********** SONG PLANNER (NEW INSPO PAGE) ***********/
  #black{
    color: black
  }
  #gray{
    color:gray;
  }
  #pdf{
    font-size: 100px;
    color: gray;
  }
  .submitSongs{
    margin-left: 80px;
  }
  .trash{
    margin-left: 160px;
  }
  #button{
    width: 100px;
    font-family: Noto Sans Mono, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 4px 4px black;
    border: 1px solid rgb(100, 18, 120);
    background: white;
    border-radius: 100px;
    text-align: center;
    margin-top: 15px;
    margin: 15px auto;
    margin-right: 90px;
  }
  .form1{
    float:left;
    clear:both;
    margin-left: 90px;
  
  }
  .songForm{
    /* margin:10px auto; */
    height: 700px;
    overflow: scroll;
    padding: 1em;
    background-color: white;
    color:black;
  
  }
  .special{
    text-align: center;
  }
  .specialSong{
    text-align: center;
  }
  
  #formAnswers{
    height: 700px;
    margin-right: 90px;
    float:right;
  }
  #mark{
    width: 50px;
  }
  .delete{
    width: 100px;
    font-family: Noto Sans Mono, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 4px 4px black;
    border: 1px solid rgb(100, 18, 120);
    background: white;
    border-radius: 100px;
    text-align: center;
    margin-top: 15px;
  }
  #deleteSongs{
    text-align: center;
  }
  .version{
    /* margin-left:150px; */
    float:right;
  }
  
  ul.submissions{
    list-style: none;
    /* display: flex;
    flex-wrap: wrap; */
    padding-top:2%;
    /* margin:3px auto; */
  }
  
  .songAnswer{
    font-size: 18px;
  }
  .songCategory{
    font-size: 13.5px;
    background:rgba(241,117,159);
    color:white
  }
  li.song{
    list-style: none;
    margin-top:2.5%;
    font-size: 17px;
    width: 340px;
    height: 700px;
    overflow: scroll;
    padding: 1em;
    background-color: white;
    color:black;
    text-align: left;
  }
  
  #msgs {
    width: 340px;
    font-weight: 400;
    font-family: Noto Sans Mono, Helvetica, sans-serif;
    font-size: 15px;
    color:  rgb(4, 3, 3);
    border: 1px solid rgb(232, 232, 232);
    background: rgb(205, 205, 205);
    border-radius: 100px;
    margin:15px auto;
    margin-bottom: 0;
  
  }
  
  
  
  
  
  
  
  /* PROFILE PAGE / PROFILE PHOTO */
  ul.messages{
    padding:0;
    margin-top: 20px;
  }
  .profilePhoto{
    width: 320px;
    /* border-radius: 50%;
    overflow: hidden; */
    border:1px solid black;
    box-shadow: 15px 15px black;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 5px;
    margin-left: 100px;
    margin-top: 30px;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 400px;
    left: 780px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .photo:hover .profilePhoto {
    opacity: 0.3;
  }
  
  .photo:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: rgb(61,102,163);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  /* #x:hover{
    background-color: palegoldenrod;
  } */
  
  #x{
    font-size: 24px;
    display: flex;
    justify-content: end;
  }
  .uploaded{
    background-image: url('../public/images/draft.png');
    background-size:500px;
    background-repeat:no-repeat;
    background-position: fixed;
    text-align: center;
    /* display:flex; */
    margin-top: 10px;
    margin-bottom: 160px;
    height:700px;
    /* float:right;
    margin-right: 300px; */
  }
  .uploader{
    text-align: center;
    margin: 15px auto;
  }
  .uploaded ul{
    list-style: none;
  }
  li.photo{
    padding: 5px;
    background: none;
    color:black;
    text-align: center;
  }
  /* FILE UPLOAD BUTTON */
  .custom-file-upload{
    font-size: 30px;
  }
  .custom-file-upload:hover{
    color:rgb(61,102,163);
  }
  /* ALL INPUTS + UPLOAD PROFILE PHOTO BUTTON */
  input {
    width: 230px;
    font-weight: 400;
    font-family: Noto Sans Mono, Helvetica, sans-serif;
    font-size: 15px;
    color:  rgb(4, 3, 3);
    border: 2px dashed rgb(253,183,153);
    background: white;
    border-radius: 100px;
    margin:10px auto;
    margin-bottom: 0;
  }
  #input__time{
    width: 120px;
    font-weight: 400;
    font-family: Noto Sans Mono, Helvetica, sans-serif;
    font-size: 14px;
    color:  rgb(4, 3, 3);
    border: 2px dashed rgb(253,183,153);
    background: white;
    border-radius: 100px;
    margin:0 10px 0 10px;
    margin-bottom: 0;
  }
  /* ONLY UPLOAD PROFILE PHOTO BUTTON W EFFECT*/
  #updateProfilePhoto{
    width: 130px;
    height:40px;
    background: white; /* default color */
  
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, white 50%, rgb(61,102,163) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    margin-bottom: 25px;
  
  }
  #updateProfilePhoto:hover{
    background-position: left;
  
  }
  
  input[type="file"] {
    display: none;
  }
  .space{
    height: 150px
  }
  
  /* // code source: https://www.npmjs.com/package/gridfs-stream */
  /*********** AUDIO RECORDING ***********/
  
  /* hover code from  stackoverflow */
  
  [data-tooltip]:before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    width: 200px;
    font-size: 11px;
    color: rgb(236, 124, 67);
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
  }
  
  [data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: rgb(67, 66, 66);
    margin-top: -100px;
    margin-left: 10px;    
  }
  
  
  ul.recordings{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-top:2%;
    margin:3px auto;
  }
  
  li.recording{
    float:left;
    height:200px;
    width:350px;
    margin-left:3.5%;
    margin-top:2.5%;
    text-decoration:none;
    color:#000;
    background:white;
    display:block;
    box-shadow: 5px 5px 7px rgba(39, 14, 41, 0.801);
    font-size:20px;
    padding:20px;
    text-align: center;
    font-family: Noto Sans Mono, Helvetica, sans-serif;
  }
  .recordBody{
    text-align: center;
  }
  .recordingBtns{
    font-size: 50px;
  }
  .record:hover {
    color: rgb(108, 194, 255);
  }
  .stop:hover {
    color: rgb(108, 194, 255);
  }
  
  .visualizer{
    width:300px;
  }